var errorTemplate = "<div class='alert alert-error'><p>You can only vote once per comment.</p></div>"

<% if @vote.valid? %>
  $('#comment_<%= @comment.id %>_votes').html('<%= @comment.total_votes %> votes');
<% else %>
  $('.alert').remove();
  $('#comment_<%= @comment.id %>_votes').closest('.row').prepend(errorTemplate);
<% end %>
