var errorTemplate = "<div class='alert alert-error'><p>You can only vote once per post.</p></div>"

<% if @vote.valid? %>
  $('#post_<%= @post.slug %>_votes').html('<%= @post.total_votes %> votes');
<% else %>
  $('.alert').remove();
  $('#post_<%= @post.slug %>_votes').closest('.row').prepend(errorTemplate);
<% end %>
